/*!
Theme Name: Wpexpert
Theme URI: https://sajjadhossain.info
Author: Sajjad
Author URI: https://sajjadhossain.me
Description: This is custom theme for Wpexpert
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wpexpert
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

*/


/**
 * Defaults
 */

.clearBoth,
.clear {
    clear: both;
    height: 0px;
    font-size: 1px;
    line-height: 0px;
    display: block;
}

.alignleft,
img.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.alignright,
img.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.aligncenter {
    margin-bottom: 12px;
}

div.post {
    margin: 0 0 20px 0;
}

ul.widgets {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
}

ul.widgets li ul {
    margin: 0 0 15px 0;
    padding: 0;
    list-style-type: none;
}

ul.widgets li ul li {
    padding: 0 0 5px 0;
}

ul.widgets li ul li ul {
    margin: 0;
    padding: 5px 0 0 10px;
}

.commentlist {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
}

.commentlist .comment-author .avatar {
    display: none;
}

.commentlist .comment {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

#commentform p {
    margin: 0 0 5px 0;
}

#commentform input[type="text"],
#commentform textarea {
    display: block;
    font-family: Arial, Verdana, Sans-Serif;
    font-size: 12px;
    padding: 10px;
    border: solid 1px #ccc;
}

#commentform input[type="text"],
input[type="email"],
input[type="url"],
#commentform textarea {
    display: block;
    font-family: Arial, Verdana, Sans-Serif;
    font-size: 12px;
    padding: 10px;
    border: solid 1px #ccc;
    width: 100%;
    margin: 10px 0;
}

#commentform textarea {
    width: 90%;
}

#respond .form-allowed-tags {
    display: none;
}

div.nav-previous {
    float: left;
}

div.nav-next {
    float: right;
}

#nav-above,
#nav-below {
    display: none;
}


/* Assistive text */

.assistive-text,
.screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}

.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
    background: #fff;
    border: 2px solid #333;
    border-radius: 3px;
    clip: auto !important;
    color: #000;
    display: block;
    font-size: 12px;
    padding: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100000;
    /* Above WP toolbar */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

.widget-area#secondary {
    width: 100%;
    float: none;
}

.says,
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.contibutes {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #44C8F5;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#demo-form ::-moz-placeholder {
    color: #2f2f2e;
    opacity: 1;
}

element {}

#demo-form .mktoButtonRow button {
    width: 180px;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    color: #fff;
    border: 1px solid #44C8F5;
    padding: 0.4em 1em;
    font-size: 1em;
    background-color: #44C8F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#44C8F5), to(#44C8F5));
    background-image: -webkit-linear-gradient(top, #44C8F5, #44C8F5);
    background-image: -moz-linear-gradient(top, #44C8F5, #44C8F5);
    background-image: linear-gradient(to bottom, #44C8F5, #44C8F5);
}

.mktoButton {
    color: #fff;
    border: 1px solid #44C8F5;
    padding: 0.4em 1em;
    font-size: 1em;
    background-color: #44C8F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#44C8F5), to(#44C8F5));
    background-image: -webkit-linear-gradient(top, #44C8F5, #44C8F5);
    background-image: -moz-linear-gradient(top, #44C8F5, #44C8F5);
    background-image: linear-gradient(to bottom, #44C8F5, #44C8F5);
}

.mktoForm button.mktoButton {
    cursor: pointer;
    margin: 0;
}

#commentform input[type="submit"] {
    font-family: 'Lato', Arial, Verdana, sans-serif !important;
    border: 1px solid #44C8F5 !important;
    background-color: #44C8F5 !important;
    background-image: linear-gradient(to bottom, #44C8F5, #44C8F5) !important;
    display: inline-block !important;
    padding: 15px 30px !important;
    font-size: 18px !important;
    font-style: normal !important;
    line-height: 22px !important;
    color: #fff !important;
    background: #44C8F5 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    border: none !important;
    margin: 0 !important;
    -webkit-appearance: none !important;
    text-align: center !important;
}

#header {
    padding-bottom: 15px;
}


/* contact */

#footer .content h1 {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 52px;
    line-height: 56px;
    color: #44C8F5;
    font-style: normal;
}

#footer .content h2 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #2d2d2d;
    text-transform: capitalize;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: left;
}

.form {
    position: relative;
}

.form__group {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.form__label,
.form__input {
    display: block;
    position: relative;
}

.form__label {}

.form__group--error .form__label {
    color: red;
}

.form__label-error {
    color: red;
    display: block;
    position: absolute;
    bottom: -3em;
    font-size: 0.8em;
    padding: 0;
}

.form__input {
    letter-spacing: 0.5px;
    border-bottom: 1px solid #cccccc;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 16px;
    width: 100%;
    color: #666666;
    font-weight: 300;
}

.form__input:focus,
.form__input:active {
    outline: none;
}

.form__input-highlight {
    display: block;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.form__input-highlight:after {
    content: '';
    background-color: #00afff;
    bottom: 0;
    display: block;
    height: 1px;
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: scale(0.2);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.form__group--error .form__input-highlight:after {
    background-color: red;
    opacity: 1;
    transform: scale(1);
}

.form__input-highlight:before {
    background-color: #ff9101;
    bottom: 1px;
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    height: 1px;
    width: 100%;
    transform: translateY(1px);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.form__input:focus+.form__input-highlight:after {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.2s;
}

.form__input:hover+.form__input-highlight:before {
    opacity: 1;
    transform: scaleY(1);
}

.form__input:focus+.form__input-highlight:before {
    opacity: 0;
    transform: scaleY(0);
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.custom-dropdown select {
    color: #666666;
    letter-spacing: 0.5px;
    width: 100%;
    font-size: inherit;
    font-size: 16px;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    padding: 0px;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    font-weight: 300;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after {
    content: "\25BC";
    height: 2em;
    font-size: 15px;
    line-height: 1;
    right: 0px;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
    background-color: #FFF;
}

.custom-dropdown::after {
    color: rgb(19, 157, 255);
}

.custom-dropdown select:focus {
    outline: none !important;
    box-shadow: none;
}

.form-group label {
    color: #666666;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-weight: 300;
}

.modal-footer button.btn.btn-color {
    color: #fff;
    background: #139dff;
    width: 100%;
    font-family: 'Raleway', Arial, Verdana, sans-serif;
    padding: 15px 45px;
    border-radius: 100px;
    font-size: 12px;
    border: none;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .30);
}

.form-group textarea.form-control {
    resize: none;
}

.right-side li {
    position: relative;
    display: block;
}

.right-side li::before {
    width: 40px;
    height: 40px;
    content: "";
    background: url(../images/home/dot-pin.png) no-repeat;
    position: absolute;
    left: -38px;
    top: 10px;
    border-radius: 40px;
    top: 5px;
}

.right-side {
    padding: 0 0 0 60px;
}

.our-goal label {
    font-size: 17px;
    color: #2d2d2d;
}

.contact-area {
    background-color: #fff;
    background: url(../images/home/company-contact-us.png) no-repeat center center;
    background-size: cover;
    margin-top: -107px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: #585858;
    background-size: auto;
}

.contact-area h4 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

.contact-area p {
    font-size: 18px;
    color: #2d2d2d;
}

.contact-form {
    border-radius: 3px;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    display: block;
    resize: none;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    text-indent: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    font-weight: 300;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #ddd;
}

.has-error .form-control,
.has-error .form-control:focus {
    box-shadow: none;
    outline: none;
}

.contact-form input[type='submit'] {
    padding: 10px 60px;
    background-color: #f5821f;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #f5821f;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
}

.contact-form input[type='submit']:hover {
    background-color: transparent;
    border-color: #f5821f;
    color: #5D6769;
    outline: 0;
    box-shadow: none;
}

.span-title {
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #2d2d2d;
    text-transform: capitalize;
}

.contact-area h4 {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 56px;
    color: #f5821f;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.address img {
    width: 35px;
    float: left;
    margin: -7px 13px;
}

.form-group #form_message {
    height: 100px;
}

.select {
    position: relative;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 15px;
}

.select::after {
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    height: 8px;
    margin-top: -11px;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 70%;
    transform: rotate(45deg);
    width: 8px;
}

.select:focus-within::after {
    margin-top: -2px;
    transform: rotate(-135deg);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: sans-serif;
    font-size: 14px;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}

.select select {
    height: 45px;
    color: #84898a;
    padding: 0px 20px;
}

.contact-area .left {
    background: #ffffffc2;
    padding: 20px 36px 88px 20px;
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.1);
}

.contact-area .right {
    background: #ffffffc2;
    padding: 20px 36px 35px 20px;
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.1);
}

#footer .content {
    margin: 50px 0;
}

.contact-heading h3 {
    margin: 0 0 12px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #f5821f;
    text-align: left;
}

.submit-btn {
    text-align: left;
}

.submit-btn input {
    color: #fff;
    background: #139dff;
    padding: 12px 45px;
    border-radius: 100px;
    font-size: 12px;
    border: none;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .30);
}

.india_loca_map {
    padding-left: 50px;
    background: url(../images/home/india_flag.png) no-repeat 7px 10px;
    text-align: left;
}

.india_lo_h1 {
    display: inline-block;
    width: 100%;
    color: #000;
}

.india_lo_h2 {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-family: aventregular;
    line-height: 15px;
}

.india_lo_h3 {
    font-family: aventregular;
    color: #636363;
    display: inline-block;
    width: 100%;
}

.contact-heading {
    text-align: left;
}

.contact-heading p img {
    margin: 0 10px;
}

.contact-heading p {
    margin: 10px 0;
}

.contact-heading a {
    color: #2d2d2d;
}

.contact-heading .flag-ind {
    float: left;
}

.contact-heading .conatent-add {
    padding-left: 50px;
}

.controls {
    margin: 0px;
    padding: 0px;
}

.controls ul {
    margin: 0px;
    padding: 0px;
}

.controls ul li {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 50%;
    float: left;
}


/* Responsive css */

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    #footer .lower .social {
        display: none;
    }
}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}